body{
  background-image: url(black.jpg);
  text-align: justify;

}

h1{
    color: white;
    background-color: black;
    font-family: cursive;


}

strong{
    color:black;
    background-color: white;
}



#wh{
  color: black;
  background-color: white;
  font-family: cursive;
}

#bk{
  color: white;
  background-color: black;
  font-family: cursive;
}

#usher,#poder, #coloquio{
    background-color: white;
}
#revelacion, #conversacion, #glos{

  background-color: black;
}
a {
    color: white;
    margin: 15px 10px;
    font-size: 17px;
    text-decoration: none;
}

nav {
    height: 40px;
    background-color: rgb(55, 130, 130);
    border-radius: 15px;
    border: rgb(0, 0, 0);
    border-style: solid;
    border-width: 2px;
}

#nav2{
  height: 40px;
  background-color: rgb(55, 130, 130);
  border-radius: 15px;
  border: rgb(0, 0,0);
  border-style: solid;
  border-width: 2px;
}


.horizontal{
display: flex;
justify-content: center;
background-color: white;
width: 50%;
margin: auto;
}

.vertical{

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.titulo{
display: flex;
justify-content: center;
width: 50%;
margin: auto;
}

article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}

div {
    display: block;
}

dl{
  color: white;
}
